apiVersion: v1
kind: Secret
metadata:
  name: eso-token-cluster
  namespace: external-secrets
data:
  dopplerToken: '{{hub (fromSecret "acm-policies" (printf "eso-token-cluster-%s" .ManagedClusterName) "dopplerToken") hub}}'
---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: doppler-cluster
spec:
  provider:
    doppler:
      auth:
        secretRef:
          dopplerToken:
            name: eso-token-cluster
            key: dopplerToken
            namespace: external-secrets