apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/redhat-cop/gitops-catalog/advanced-cluster-management/operator/overlays/release-2.5
- github.com/redhat-cop/gitops-catalog/advanced-cluster-management/instance/base

patches:
  - target:
      kind: Subscription
      name: advanced-cluster-management
    patch: |-
      - op: replace
        path: /spec/channel
        value: 'release-2.7'